* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: Consolas;
    text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

/* =====Header===== */

header {
    display: flex;
    color: whitesmoke;
    align-items: center;
    background-color: green;
    justify-content: space-between;
    text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
}

.weblogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weblogo img {
    height: 100px;
    margin-right: 10px;
}

/* =====Navbar===== */
nav {
    margin-right: 20px;
}

nav a {
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}

/* =====Sesion===== */

form {
    min-width: 350px;
    min-height: auto;
    border-radius: 10px;
    background-color: green;
    border: 5px solid darkgreen;
}

.title {
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid darkgreen;
}


/* Nombre de usuario */
.username {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.username input {
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    border-bottom: 2px solid gray;
}

/* Contraseña */
.password {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.password input {
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    border-bottom: 2px solid gray;
}

.password button {
    width: 40px;
    height: 25px;
    background: none;
    border-radius: 100%;
    background-color: darkgreen;
}

/* Email */

.mail {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.mail input {
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    border-bottom: 2px solid gray;
}

/* ===== Crear cuenta ===== */

.crearCuenta {
    display: flex;
    padding: 0 30px 0 30px;
    justify-content: space-between;
}

/* Botón */

.botonIniciar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonIniciar input {
    height: 40px;
    width: 200px;
    border-radius: 30px;
    margin: 20px 0 20px 0;
    background-color: darkgreen;
}